<div class="mt-8 flex justify-center">
    <button
        type="button"
        {{ if auto }}
        x-data="{
            loadingMore: false,
            load() {
                if (this.loadingMore) { return }
                this.loadingMore = true
                this.$wire.loadMore().finally(() => {
                    this.loadingMore = false
                    this.$nextTick(() => {
                        if (this.$el.isConnected && this.$el.getBoundingClientRect().top <= window.innerHeight + 200) { this.load() }
                    })
                })
            }
        }"
        x-intersect.margin.200px="load()"
        {{ /if }}
        wire:click="loadMore"
        wire:target="loadMore"
        wire:loading.attr="disabled"
        {{ if class }}class="{{ class }}"{{ /if }}
    >
        <span wire:loading.remove wire:target="loadMore">{{ if text }}{{ text }}{{ else }}{{ trans key="statamic-livewire-filters::ui.load_more" }}{{ /if }}</span>
        <span wire:loading wire:target="loadMore" role="status">{{ trans key="statamic-livewire-filters::ui.loading" }}</span>
    </button>
</div>
